@model First_DotNet_Project.Models.Category
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Add Orders Here</h1>
<form method="post" action="Add">
    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label for="Order" class="form-label">Order</label>
        <input type="number" class="form-control" asp-for="Order">
    </div>
    <div class="mb-3">
        <label for="OrderTime" class="form-label">OrderTime</label>
        <input type= "date" class="form-control" asp-for="Ordertime">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>